In [ ]:
# Run cells by clicking on them and hitting CTRL + ENTER on your keyboard
from IPython.display import YouTubeVideo
from datascience import *
import numpy as np
%matplotlib inline

# Module 2.2 Part 2: Groups

This lecture guide introduces various ways to summarize a dataset's categorical variables.

6 videos make up this notebook, for a total run time of 61:00.

1. [Grouping One Attribute](#section1) *1 video, total runtime 14:38*
2. [Cross-Classification](#section2) *1 videos, total runtime 11:07*
3. [Pivot Tables](#section3) *1 video, total runtime 13:08*
4. [Comparing Distributions](#section4) *1 video, total runtime 12:00*
5. [Check for Understanding](#section5) *2 videos, total runtime 10:07*

Textbook readings: [Chapter 8: Functions and Tables](https://www.inferentialthinking.com/chapters/08/Functions_and_Tables.html)

<a id='section1'></a>
## 1. Grouping One Attribute

First, let's see how the `group` method can be used to summarize a table's categorical variables.

In [ ]:
YouTubeVideo("n0jAwei6zGY")

Using the `nba_salaries` table loaded in the cell below, compute the average salary of the players on each
team during the 2015-2016 NBA season. Which team payed it's players the most, on average?

In [ ]:
# load the nba dataset
nba_salaries =  Table.read_table('https://www.inferentialthinking.com/data/nba_salaries.csv')

# relabel the '15-'16 SALARY column to SALARY
nba_salaries = ...

# get average number of players in each position
...

<details>
    <summary>Solution</summary>
    <b>Code</b>: <br>
    # relabel the '15-'16 SALARY column to SALARY <br>
    nba_salaries = nba_salaries.relabeled(3, 'SALARY') <br>
    # get average number of players in each position <br>
    nba_salaries.select('TEAM', 'SALARY').group('TEAM', np.average).sort('SALARY average', descending = True) <br>
    <br>
    The Cleveland Caveliers were the team with the highest average salary in 2015-2016.
</details>
<br>

<a id='section2'></a>
## 2. Cross-Classification

In the next video, you'll see how `group` can summarize the relationship between multiple categorical variables.

In [ ]:
YouTubeVideo("9NGa2MaDPxw")

<a id='section3'></a>

## 3. Pivot Tables

Pivot tables offer an easy way to cross-classify two categorical variables. In the following video, you'll learn how
to use the `pivot` method.

In [ ]:
YouTubeVideo("JSgaMnExiCY")

The table loaded below contains information on the population of Califonian adults in 2014. The population
is stratified by age, gender, educational attainment, and personal income. The *Population Count* variable
describes the size of the strata. Create a pivot table summarizing the total population count for every possible
combination of educational attainment and personal income.

In [ ]:
# prepare the data (cleaned for your convenience!)
ca_full_table = Table.read_table('https://www.inferentialthinking.com/data/educ_inc.csv')
ca_2014 = ca_full_table \
    .where('Year', are.equal_to('1/1/14 0:00')) \
    .where('Age', are.not_containing('00 to 17')) \
    .select('Age', 'Gender', 'Educational Attainment', 'Personal Income', 'Population Count')

# create the pivot table
...

<details>
    <summary>Solution</summary>
    ca_2014.pivot('Educational Attainment', 'Personal Income', 'Population Count', sum) <br>
    <br>
    Note: The next video gives another, slightly different solution.
</details>
<br>

<a id='section4'></a>

## 4. Comparing Distributions

In the following video, you'll see how pivot tables and bar charts can be used to stratify categorical variables' distributions.

In [ ]:
YouTubeVideo("YqN8OYt8Upw")

Use the `ca_2014` table from before to compare the distribution of personal income stratified by gender.
Are the distributions similar? Can you identify any flaws this data?

In [ ]:
# don't forget to convert counts to percents!
def percent(x):
    return np.round((x / sum(x)) * 100, 2)

# compute the categorical distribution
gender_income = ca_2014.pivot(...)
distributions = gender_income.with_columns(
    ...
)

# plot the distribution
...

<details>
    <summary>Solution</summary>
    <b>Code</b>: <br>
    # compute the categorical distribution <br>
    gender_income = ca_2014.pivot('Gender', 'Personal Income', 'Population Count', sum) <br>
    distributions = gender_income.with_columns( <br>
        'Female', percent(gender_income.column('Female')), <br>
        'Male', percent(gender_income.column('Male')), <br>
    ) <br>
    <br>
    # plot the distribution <br>
    distributions.barh('Personal Income') <br>
    <br>
    <b>Interpretation</b>: <br>
    Unfortunately, the personal income distributions are different. Women tend to have lower
    paying jobs than men. Further, this data is flawed: only two genders are considered. This
    data is biased because it fails to account for individuals who do not identify as male or
    female. 
</details>
<br>

<a id='section5'></a>

## 5. Check for Understanding

**A. Attempt the question posed in the following video. Use the `group` method .**

In [ ]:
YouTubeVideo("8MZW99WJcXs")

In [ ]:
# load the nba dataset
nba_salaries =  Table.read_table('https://www.inferentialthinking.com/data/nba_salaries.csv')

...

**B. Can you find the solution to A using the `pivot` method? The following video will
walk you through the solution if you get stuck.**

In [ ]:
YouTubeVideo("e2Bs4SfIBUA")

In [ ]:
# load the nba dataset
nba_salaries =  Table.read_table('https://www.inferentialthinking.com/data/nba_salaries.csv')

...