In [ ]:
from datascience import *
import numpy as np

# Data Types and Functions

In [ ]:
franchise_name = "Star Wars"
franchise_name

In [ ]:
movie_number = 4
movie_title = "A New Hope"

In [ ]:
type(movie_number)

In [ ]:
type(movie_title)

In [ ]:
franchise_name + movie_number + movie_title

In [ ]:
franchise_name + str(movie_number) + movie_title

In [ ]:
franchise_name + " - Episode " + str(movie_number) + " : " + movie_title

In [ ]:
release_years = make_array(1977, 1980, 1983, 1999, 2002, 2005, 2015, 2017, 2019)
release_years

In [ ]:
gap_in_release = np.diff(release_years)
gap_in_release

In [ ]:
gap_in_release * 365

# Tables

In [ ]:
movies = Table.read_table('movies_by_year_with_ticket_price.csv')
movies

In [ ]:
movies.labels

In [ ]:
movies.num_rows

## Working with Columns

In [ ]:
movies.column("Number of Movies")

In [ ]:
type(movies.column("Number of Movies"))

In [ ]:
movies.column("Number of Movies").item(0) #first item in array

In [ ]:
movies.column("Number of Movies").item(1) #second item in array

In [ ]:
type(movies.column("Number of Movies").item(10))

In [ ]:
min(movies.column("Average Ticket Price"))

In [ ]:
np.average(movies.column("Total Gross")) * (1000000)

In [ ]:
max_num_movies = max(movies.column("Number of Movies"))
max_num_movies

## Filtering Tables

In [ ]:
movies.where("Year", 2000)

In [ ]:
movies.where("Number of Movies", max_num_movies)

In [ ]:
movies.where("Number of Movies", max_num_movies).column("#1 Movie").item(0)

In [ ]:
movies.where("#1 Movie", are.containing("Avengers"))

In [ ]:
movies.where("Average Ticket Price", are.below(9))

In [ ]:
movies.where("Average Ticket Price", are.below(9)).num_rows

In [ ]:
movies.where("Average Ticket Price", are.below(9)).where("Number of Movies", are.above_or_equal_to(650))

In [ ]:
movies.sort("Total Gross")

In [ ]:
movies.sort("Total Gross", descending = True)

In [ ]:
movies_sorted_by_total_year_gross = movies.sort("Total Gross", descending = True).column("#1 Movie")
movies_sorted_by_total_year_gross == movies.column("#1 Movie")

In [ ]:
np.count_nonzero(movies_sorted_by_total_year_gross == movies.column("#1 Movie"))

## Creating Tables, Adding Columns

In [ ]:
movies_revenue = movies.drop("#1 Movie")
movies_revenue

In [ ]:
gross_in_dollars = movies_revenue.column('Total Gross') * 1e6 #1e6 = 1,000,000
movies_revenue = movies_revenue.with_column("Total Gross ($)", gross_in_dollars)
movies_revenue

In [ ]:
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')
tix_sold

In [ ]:
movies_revenue.select(0, 4).with_column("Tickets Sold", tix_sold)

In [ ]:
Table().with_columns("Year", movies_revenue.column("Year"),
                     "Total Gross ($)", movies_revenue.column("Total Gross ($)"),
                     "Tickets Sold", tix_sold)