In [ ]:
from datascience import *
import numpy as np
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
plots.rcParams["patch.force_edgecolor"] = True

# Lecture 2.2 Demo

### Functions

Simple function:

In [ ]:
def triple(x):
    return 3 * x

In [ ]:
triple(3)

In [ ]:
num = 4
triple(num)

In [ ]:
triple(num * 5)

In [ ]:
x

In [ ]:
triple('ha')

In [ ]:
triple(np.arange(4))

More complex functions:

The function in the following cell computes the hypotenuse of a triangle:

$h^2 = x^2 + y^2 \hspace{20 pt} => \hspace{20 pt} h = \sqrt{x^2 + y^2}$

In [ ]:
def hypotenuse(x,y):
    hypot_squared = (x ** 2 + y ** 2)
    hypot = hypot_squared ** 0.5
    return hypot

In [ ]:
hypotenuse(9, 12)

In [ ]:
hypotenuse(2, 2)

### Apply

In [ ]:
ages = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
ages

In [ ]:
def get_age(x):
    approx_age = 2020 - x
    return approx_age

In [ ]:
get_age(1996)

In [ ]:
ages.apply(get_age, 'Birth Year')

In [ ]:
ages.with_column('Approx. Age', ages.apply(get_age, 'Birth Year'))

### Grouping

Single columns groups:

In [ ]:
nba_salaries = Table.read_table('https://www.inferentialthinking.com/data/nba_salaries.csv')
nba_salaries

In [ ]:
nba_salaries.group("TEAM")

In [ ]:
nba_salaries.group('POSITION')

In [ ]:
nba_salaries.select('POSITION', "'15-'16 SALARY").group('POSITION', np.average)

In [ ]:
nba_salaries.select('POSITION', "'15-'16 SALARY").group('POSITION', max)

Cross-classification (grouping two columns)

In [ ]:
nba_salaries.select('POSITION', 'TEAM', "'15-'16 SALARY").group(['POSITION', 'TEAM'])

In [ ]:
nba_salaries.select('POSITION', 'TEAM', "'15-'16 SALARY").group(['POSITION', 'TEAM'], np.average)

In [ ]:
nba_salaries.select('POSITION', 'TEAM', "'15-'16 SALARY").pivot('POSITION', 'TEAM')

In [ ]:
nba_salaries.select('POSITION', 'TEAM', "'15-'16 SALARY") \
    .pivot('POSITION', 'TEAM', values = "'15-'16 SALARY", collect = np.average)

### Joining

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

### Comparisons

In [ ]:
3 > 1

In [ ]:
type(3 > 1)

In [ ]:
True

In [ ]:
true

In [ ]:
3 == 3

In [ ]:
3 = 3

In [ ]:
3 == 3.0

In [ ]:
10 != 2

In [ ]:
x = 14
y = 3

In [ ]:
x < 15

In [ ]:
12 < x < 14

In [ ]:
10 < x-y < 13

In [ ]:
x > 13 and y < 3.14

In [ ]:
x > 13 or y > 3.14

In [ ]:
pets = make_array('cat', 'cat', 'dog', 'cat', 'dog', 'rabbit')
pets

In [ ]:
pets == 'cat'

In [ ]:
sum(make_array(True, True, False, True, False, False))

In [ ]:
sum(pets == 'cat')

In [ ]:
np.count_nonzero(pets == 'cat')

In [ ]:
x = np.arange(20, 31)
x

In [ ]:
x_larger_than_24 = x > 24
x_larger_than_24

In [ ]:
y = np.arange(15, 26)
y

In [ ]:
y_larger_than_24 = y > 24
y_larger_than_24

In [ ]:
x_larger_than_24 | y_larger_than_24 # or

In [ ]:
x_larger_than_24 & y_larger_than_24 # and

### Advanced `where` Method

In [ ]:
ages = make_array(16, 22, 18, 15, 19, 15, 16, 21)
age = Table().with_column('Age', ages)

In [ ]:
age

In [ ]:
age.where('Age', are.above_or_equal_to(18))

In [ ]:
voter = ages >= 18
voter

In [ ]:
age.where(voter)

In [ ]:
is_voter = are.above_or_equal_to(18)
type(is_voter)

In [ ]:
is_voter(22)

In [ ]:
is_voter(3)

In [ ]:
age.apply(is_voter, 'Age')

In [ ]:
ages >= 18

In [ ]:
voter

In [ ]:
def my_voter_function(x):
    return x >= 18

In [ ]:
age.where('Age', are.above_or_equal_to(18))

In [ ]:
age.where(voter)

In [ ]:
age.where('Age', my_voter_function)